# ignore objects and archives
*.[oa]

sommelier_app/data/*
**/*.txt
**/*~
**/*~
**/*/*~

catadb_django/uploads/*
catadb_django/catadb/templates/.sass-cache/*
catadb_django/catadbenv/*
**/*.pyc
**/*/*.pyc
