<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.css"> 
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
  </head>

<body>

  <div class="form">
      
      <ul class="tab-group">
        <li class="tab"><a href="#signup">Sign Up</a></li>
        <li class="tab active"><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">

        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/start/" method="post" autocomplete="off">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" name="email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block" style="cursor:pointer"/>Log In</button>
          
          </form>

        </div>

        <div id="signup">   
          <h1>Sign up for free!</h1>
          
          <form action="/signup/" method="post" autocomplete="off">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" name="realname" />
            </div>
        
            <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off" name="username"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" name="email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <button type="submit" class="button button-block" style="cursor:pointer"/>Join the Sommelier DB</button>
          
          </form>

        </div>
                
      </div><!-- tab-content -->
      
  </div> <!-- /form -->

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="/static/js/index.js"></script>

  {% if message %}
  <script type="text/javascript">
  alert("{{ message }}");
  </script>
  {% endif %}

</body>
</html>